<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
  var i;
  var boxx = 20;
  var boxy = 30;
  var boxwidth = 350;
  var boxheight = 250;
  var ballrad = [Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20,Math.random()*20];
  var boxboundx = boxwidth+boxx-20;
  var boxboundy = boxheight+boxy-20;
  var inboxboundx = boxx+20;
  var inboxboundy = boxy+20;
  var ballx = [Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100];
  var bally = [Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100,Math.random()*100];
  var ctx;
  var ballvx = [Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10];
  var ballvy = [Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10,Math.random()*10];
  var color = [];
  for(i = 0;i < 20;i++){
    color[i] = "rgb("+String(Math.floor(Math.random()*255))+","+String(Math.floor(Math.random()*255))+","+String(Math.floor(Math.random()*255))+")";
  }
function init(){  
  ctx = document.getElementById('canvas').getContext('2d'); 
  ctx.lineWidth = 20;
  
  moveball();  
  setInterval(moveball,10);  
}  
function moveball(){  
  ctx.clearRect(boxx,boxy,boxwidth,boxheight);
  moveandcheck();
  for(i=0;i<20;i++){
  ctx.beginPath();
  ctx.fillStyle = color[i];
  ctx.arc(ballx[i], bally[i], ballrad[i],0,Math.PI*2,true);
  
  ctx.fill();
  }
  ctx.strokeRect(boxx,boxy,boxwidth,boxheight);
} 
function moveandcheck() {
  var nballx = [];
  var nbally = [];
  for(i = 0;i < 20;i++){
    nballx[i] = ballx[i] + ballvx[i];
    nbally[i] = bally[i] + ballvy[i];
  }
  for(i=0;i<20;i++){
    if (nballx[i] > boxboundx) {
     ballvx[i] =-ballvx[i];
     nballx[i] = boxboundx;
    }
    if (nballx[i] < inboxboundx) {
     nballx[i] = inboxboundx
     ballvx[i] = -ballvx[i];
    }
    if (nbally[i] > boxboundy) {
     nbally[i] = boxboundy;
     ballvy[i] =-ballvy[i];
    }
    if (nbally[i] < inboxboundy) {
    nbally[i] = inboxboundy;
     ballvy[i] = -ballvy[i];
    }
    ballx[i] = nballx[i];
    bally[i] = nbally[i];
  }
}
function change() {
  //I am converting to number. 
  //I don't think max or min works.
  ballvx = [Number(f.hv.value),Number(f.hv.value),Number(f.hv.value)];
  ballvy = [Number(f.vv.value),Number(f.vv.value),Number(f.vv.value)];
  return false;
}
</script>
<body onLoad="init();">

<!-- New header -->
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
          <%= link_to "FirstApp", "#", id: "logo" %>
        </div>
    </div>
</header>
<canvas id="canvas" width="400" height="300">
Your browser doesn't support the HTML5 element canvas.
</canvas>  
<br/>
<form name="f" id="f" onSubmit="return change();">
  Horizontal velocity <input name="hv" id="hv" value="4" type="number" min="-10" max="10" /> 
<br>
  Vertical velocity <input name="vv" id="vv" value="8" type="number" min="-10" max="10"/>
<input type="submit" value="CHANGE"/>
</form> 
<!-- Content wrapped in container -->
<div class="container">
	<%= yield %>
  <!-- New footer -->
  <footer class="footer">
    <small>
      <a href="http://codecamp.io">程式開發工作營</a>
    </small>
  </footer>
  <!-- Debugging footer -->
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>

